	/* top-left | top-right | bottom-right | bottom-left */	

    .navbar-inverse {
        background-color: #9f2626;
        border-color: #080808;
    }
	
	:root {
			--Bright-orange: hsl(31, 77%, 52%);  /* (sedan background) */
			--Dark-cyan: hsl(184, 100%, 22%); /* (suvs background) */
			--Very-dark-cyan: hsl(179, 100%, 13%); /* (luxury background) */

			--Transparent-white: hsl(0, 0%, 100%, 0.75); /* (paragraphs) */
			--Very-light-gray : hsl(0, 0%, 95%);  /*(background, headings, buttons) */

	}
	
	body {
		min-height: 96vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.card {
		max-width: 900px;
	}
	
	.container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		border-radius: 10px;
		border: 1px solid white;	
	}
	
	.sedan {
		background-color: var(--Bright-orange);
		display: grid;
		grid-template-columns: 10% 80% 10%;
		grid-template-rows: 7% 10% 5% 10% 26% 10% 10%;
		height: 450px;
	}
	
	.suvs {
		background-color: var(--Dark-cyan);
		display: grid;
		grid-template-columns: 10% 80% 10%;
		grid-template-rows: 7% 10% 5% 10% 26% 10% 10%;
		height: 450px;		
	}
	
	.luxury {
		background-color: var(--Very-dark-cyan);
		display: grid;
		grid-template-columns: 10% 80% 10%;
		grid-template-rows: 7% 10% 5% 10% 26% 10% 10%;
		height: 450px;		
	}
	
	.image {
		grid-column: 2;
		grid-row: 2;		
	}
	
	.type {
		grid-column: 2;
		grid-row: 4;
		font-size: 24px;	
	}
	
	.description {
		grid-column: 2;
		grid-row: 5;
		color: var(--Transparent-white);		
		font-size: 15px;		
		line-height: 24px;
	}
	
	.learn {
		grid-column: 2;
		grid-row: 8;	
	}
	
	button {
		border-radius: 30px;
		border: 1px solid white;
		width: 120px;
		height: 40px;
	}
	
	@media screen and (max-width: 555px) {
	
	.description {
		grid-column: 2;
		grid-row: 5;
		color: var(--Transparent-white);		
		font-size: 2.5vw;		
		line-height: 24px;
	}
		
	}
	
	
	
	@media screen and (max-width: 400px) {
	
	.container {
		flex-direction: column;
		grid-template-columns: 1fr;
		border-radius: 10px;
		border: 1px solid white;	
	}
	
	.description {
		grid-column: 2;
		grid-row: 5;
		color: var(--Transparent-white);		
		font-size: 18px;		
		line-height: 24px;
	}
	
	.sedan {
		height: 380px;
	}
	
	.suvs {
		height: 380px;
	}
	
	.luxury {
		height: 380px;
	}
	
	.suvs {
		background-color: var(--Dark-cyan);
		display: grid;
		grid-template-columns: 10% 80% 10%;
		grid-template-rows: 7% 10% 5% 10% 26% 10% 10%;
		height: 450px;		
	}
	
	.luxury {
		background-color: var(--Very-dark-cyan);
		display: grid;
		grid-template-columns: 10% 80% 10%;
		grid-template-rows: 7% 10% 5% 10% 26% 10% 10%;
		height: 450px;		
	}
		
	}