    .navbar-inverse {
        background-color: #9f2626;
        border-color: #080808;
    }

    .wrapper {
		display: inline-flex;
		border-radius: 10px 10px 10px 10px;	
		border: 1px solid #c7b5b5;
	}
	/* top-left | top-right | bottom-right | bottom-left */
	
	.main {
		width: 338px;
		height: 520px;
		text-align: center;
		background-color: hsl(0, 0%, 100%);
		border-radius: 10px 10px 10px 10px;	
		border: 1px solid hsl(0, 0%, 100%);
		display: grid;
		grid-template-columns: 5% 90% 5%;  
		grid-template-rows: 3% 58% 5% 10% 3% 11% 10%;
 	}
	
	.qr_image {
		grid-column: 2;
		grid-row: 2;
	}

    .image {
        width: 300px;
        height: auto;
		border-radius: 10px 10px 10px 10px;	
		border: 1px solid white;
    }
	
	.improve {
		grid-column: 2;
		grid-row: 4;
		font-family: "Georgia";
		font-size: 24px;
		color: hsl(218, 44%, 22%);
	}
	
	.scan_qr {
		grid-column: 2;
		grid-row: 6;
		color: hsl(220, 15%, 55%);
		font-family: "Georgia";
		font-size: 17px;
		line-height: 27px;
	}
	


@media screen and (max-width: 375px) {

	.wrapper {
		display: block;
	}

}